<link rel="import" href="../base/polymer/polymer.html">
<link rel="import" href="../base/core-animated-pages/core-animated-pages.html">

<link rel="import" href="common/auth-manager/auth-manager.html">
<link rel="import" href="common/event-manager/event-manager.html">
<link rel="import" href="login/login-panel/login-panel.html">
<link rel="import" href="requests/requests-container/requests-container.html">

<polymer-element name="requext-dj-app">
	<template>
		<style>
			#page_manager {
				background: url(../../samples/images/bg.jpg) no-repeat;
				background-size: cover;
				height: 100%
			}
		</style>
		
		<div id="overlay"></div>
		
		<auth-manager id="auth_manager"></auth-manager>
		<event-manager id="event_manager"></event-manager>
		
		<core-animated-pages id="page_manager" selected="{{activePage}}">
			<section horizontal center-justified layout center>
				<login-panel id="login_panel"></login-panel>
			</section>
			
			<section>
				<requests-container id="requests_container"></requests-container>
			</section>
		</core-animated-pages>
	</template>
	
	<script>
	(function() {
		// Page enum.
		const PAGES = {
			login: 0,
			requests: 1
		};
		
		// Authentication manager.
		var AuthManager = null;
		// Event manager.
		var EventManager = null;
		
		Polymer({
			created: function() {
			},
			domReady: function() {
				AuthManager = this.$.auth_manager;
				EventManager = this.$.event_manager;
				
				EventManager.addAuthChangeEventHandler(this, this.onAuthChange.bind(this));
				
				this.activePage = AuthManager.getAuthToken() ? PAGES.requests : PAGES.login;
			},
			onAuthChange: function(data) {
				if (data != null && data.auth_token) {
					this.activePage = PAGES.requests;
				} else {
					window.location.reload();
				}
			}
		});
	})();
	</script>
</polymer-element>