<link rel="import" href="../base/polymer/polymer.html">
<link rel="import" href="../base/core-animated-pages/core-animated-pages.html">

<link rel="import" href="login/login-panel/login-panel.html">
<link rel="import" href="requests/requests-container/requests-container.html">

<polymer-element name="requext-dj-app">
	<template>
		<style>
			#page_manager {
				background: url(../../samples/images/bg.jpg) no-repeat;
				background-size: cover;
				height: 100%
			}
		</style>
		
		<core-animated-pages id="page_manager" selected="0">
			<section horizontal center-justified layout center>
				<login-panel id="login_panel"></login-panel>
			</section>
			
			<section>
				<requests-container></requests-container>
			</section>
		</core-animated-pages>
	</template>
	
	<script>
	(function() {
		// Page enum.
		const PAGES = {
			login: 0,
			requests: 1
		};
		
		// Page manager object.
		var PageManager = null;
		
		Polymer({
			ready: function() {
				PageManager = this.$.page_manager;
				PageManager.selected = PAGES.requests;
			},
			observe: {
				// Observe authentication status.
				'$.login_panel.authenticated': 'handleAuthentication'
			},
			// Handle authentication change.
			handleAuthentication: function(old, isAuthenticated) {
				if (isAuthenticated) {
					PageManager.selected = PAGES.requests;
				}
			}
		});
	})();
	</script>
</polymer-element>